<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"

    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd" default-lazy-init="false">

    <description>Spring common config</description>

    <!-- 导入其他配置文件 -->
    <import resource="./spring/*.xml" />
    
    <context:property-placeholder file-encoding="UTF-8" location="classpath:web.properties" />
    <context:component-scan base-package="james.web.template"></context:component-scan>
</beans>